# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/build/465c96f63528c375eadc3160f3b5d846
/build/b18191054b7e296b4379e9085d256a59
/build/native_assets
/build/shared_preferences_android
/build/sqflite_android
/build/path_provider_android
/build/.last_build_id
/build/cache.dill.track.dill
/build/app/generated
/build/app/intermediates
/build/app/kotlin
/build/app/kotlinToolingMetadata
/build/app/tmp
/build/app/outputs/apk
/build/app/outputs/logs
/build/app/outputs/mapping
/build/app/outputs/sdk-dependencies
/build/app/outputs/flutter-apk/app-release.apk.sha1
# Unneccessary files
HO_day_plan.md
